

li {
    list-style-type: none;
    
}

a {
    color: black;
    text-shadow: 1px 1px 1px grey;
}

.brand2 {
    width: 100px;
    height: 100px;
    color: hotpink;
    text-shadow: 2px 2px 2px black;

}

.brand-nav {
    
    text-shadow: 2px 2px 2px black;
}

.navbar {
    background-color: hotpink;
    margin-bottom: 10px;
}

.left {
    float: left;
}

.right {
    float: right;
}
.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}



.list-box2 {

    height: 100vh;
    color: black;
    background-color: rgb(204, 204, 204);
    opacity: .9;
    text-shadow: 1px 1px 1px white;
    overflow: scroll;
}

.button-new {
    font-size: 1.4em;
    margin-top: 5px;
    padding: 4px;
    border-radius: 20px;
    background-color: black;
    color: white;
}

.upload-button {
    width: 300px;
    border-radius: 100px;
    padding-left: 11%;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
}


.brand {
    display: none;
    font-size: 6em;
    text-shadow: 2px 2px 2px hotpink;    
}



.login {
    display: none;
}

.attn-alert {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    background-color: hotpink;
    color: white;
    opacity: .9;
    border: 1px solid black;
    border-radius: 0px;
    text-shadow: 2px 2px 2px black;
}

.form-control {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    height: 30px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;   
}

.center {
    text-align: center;
}


.new-animal-form {
    margin-top: 5%;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.center {
    text-align: center;
}

.form-advance-button {
    text-align: center;
    width: 200px;
}

.rabies-form {
    background-color: red;
    color: white;
    height: 48px;
    font-size: 15px;
}

.purple-form {
    background-color: purple;
    color: white;
    height: 40px;
    font-size: 15px;
}

.orange-form {
    background-color: orange;
    color: white;
    height: 40px;
    font-size: 15px;
}

.blue-form {
    background-color: blue;
    color: white;
    height: 40px;
    font-size: 15px;
}

.pink-form {
    background-color: hotpink;
    color: white;
    height: 40px;
    font-size: 15px;
}

.heartworm-prev-form {
    background-color: rgb(125, 148, 170);
    color: white;
    height: 40px;
    font-size: 15px;
}

.flea-prev-form {
    background-color: rgb(247, 128, 114);
    color: white;
    height: 40px;
    font-size: 15px;
}

.heartworm-test-form {
    background-color: rgb(37, 228, 37);
    color: white;
    height: 40px;
    font-size: 15px;
}

.fecal-test-form {
    background-color: rgb(167, 119, 56);
    color: white;
    height: 40px;
    font-size: 15px;
}

.dewormer-test-form {
    background-color: rgb(63, 113, 248);
    color: white;
    height: 40px;
    font-size: 15px;
}

.button {
    margin: 2px;
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 0px;
    float: right;
    color: red;
}

.button-pink {
    margin: 2px;
    background-color: hotpink;
    width: 100px;
    height: 30px;
    border-radius: 0px;
    float: right;
    color: white;
}

#thumb-dog {
    margin-left: auto;
    margin-right: auto;
}
.information-box {
    border: 2px solid red;
}

.page-header {
    height: 5vh
    text-align: center;
    font-weight: bold;
    background-color: gray;
    color: white;
    opacity: .9;
    border-radius: 0px;
    padding: 6px;
    text-shadow: 2px 2px 2px hotpink;
}

.button-dog {
    width: 100px;
    border: 2px solid black;
    border-radius: 100px;
}

/* CAT ONLY BELOW */

.fvrcp-form {
    background-color: rgb(194, 9, 250);
    color: white;
    height: 40px;
    font-size: 15px;
}

.revolution-prev-form {
    background-color: rgb(125, 148, 170);
    color: white;
    height: 40px;
    font-size: 15px;
}

.fivfelv-test-form {
    background-color: rgb(84, 66, 243);
    color: white;
    height: 40px;
    font-size: 15px;
}

input:required:invalid, input:focus:invalid {
    border: 1px solid red;
  }

input:required:valid, input:focus:valid {
    border: 1px solid green;
    background-color: lightgray;
}


.alert-dogs {
    height: 300px;
    border: 2px solid black;
    border-radius: 0px;
    overflow: scroll;
}

.alert-cats {
    height: 300px;
    border: 2px solid black;
    border-radius: 0px;
    overflow: scroll;
}

.alert-box {
    text-align: center;
}

.animal-list {
    text-align: center;
    
}

.header {
    font-family: 'Spectral SC', serif;
}