* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

body {
    background-image: url('../images/puppy6.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

li {
    list-style-type: none;
}

a {
    color: black;
    font-weight: bold;
    text-shadow: 1px 1px 1px grey;
}

#date {
    margin-left: 220px;
}

.left {
    float: left;
}

.right {
    float: right;
}
.padding {
    padding-top: 20px;
    padding-bottom: 20px;
}

.list-box {
    height: 310px;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 10px;
    color: black;
    background-color: gray;
    opacity: .7;
    text-shadow: 2px 2px 2px gray;
    overflow: scroll;
}

.list-box2 {
    height: 690px;
    border: 1px solid red;
    border-radius: 5px;
    color: black;
    background-color: gray;
    opacity: .7;
    text-shadow: 2px 2px 2px gray;
    overflow: scroll;
}

.brand {
    display: none;
    font-size: 6em;
    text-shadow: 2px 2px 2px red;    
}

.login {
    display: none;
}

.attn-alert {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
    background-color: red;
    color: white;
    opacity: .9;
    border: 1px solid black;
    border-radius: 5px;
    padding: 6px;
    text-shadow: 2px 2px 2px black;
}


.reg {
    margin-top: 1000px;
}

.center {
    text-align: center;
}

.navbar-default {
    background-color: lightgray;
    color: black;
    font-size: 20px;
}
.new-animal-form {
    margin-top: 10%;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.center {
    text-align: center;
}

.form-advance-button {
    text-align: center;
    width: 200px;
}

#vaccinations {
    margin-top: 1000px;
}

.rabies-form {
    background-color: red;
    color: white;
    height: 40px;
    font-size: 15px;
}

.purple-form {
    background-color: purple;
    color: white;
    height: 40px;
    font-size: 15px;
}

.orange-form {
    background-color: orange;
    color: white;
    height: 40px;
    font-size: 15px;
}

.blue-form {
    background-color: blue;
    color: white;
    height: 40px;
    font-size: 15px;
}

.pink-form {
    background-color: hotpink;
    color: white;
    height: 40px;
    font-size: 15px;
}

.heartworm-prev-form {
    background-color: rgb(125, 148, 170);
    color: white;
    height: 40px;
    font-size: 15px;
}

.flea-prev-form {
    background-color: rgb(247, 128, 114);
    color: white;
    height: 40px;
    font-size: 15px;
}

.heartworm-test-form {
    background-color: rgb(37, 228, 37);
    color: white;
    height: 40px;
    font-size: 15px;
}

.fecal-test-form {
    background-color: rgb(167, 119, 56);
    color: white;
    height: 40px;
    font-size: 15px;
}

.dewormer-test-form {
    background-color: rgb(63, 113, 248);
    color: white;
    height: 40px;
    font-size: 15px;
}

.button {
    margin: 2px;
    background-color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    float: right;
    color: red;
}

.button-red {
    margin: 2px;
    background-color: red;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    float: right;
    color: white;
}



.header {
    
}

.information-box {
    border: 2px solid red;
}

.title {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    background-color: gray;
    color: white;
    opacity: .9;
    border-radius: 5px;
    padding: 6px;
    text-shadow: 2px 2px 2px red;
}

.button-dog {
    width: 100px;
    border: 2px solid black;
    border-radius: 100px;
}

.subtitle {
    font-size: 22px;
    text-align: center;
    background-color: gray;
    color: black;
    border: 1px solid black;
    border-radius: 5px;

}


/* CAT ONLY BELOW */

.fvrcp-form {
    background-color: rgb(194, 9, 250);
    color: white;
    height: 40px;
    font-size: 15px;
}

.revolution-prev-form {
    background-color: rgb(125, 148, 170);
    color: white;
    height: 40px;
    font-size: 15px;
}

.fivfelv-test-form {
    background-color: rgb(84, 66, 243);
    color: white;
    height: 40px;
    font-size: 15px;
}

input:required:invalid, input:focus:invalid {
    border: 1px solid red;
  }

input:required:valid, input:focus:valid {
    border: 1px solid green;
    background-color: lightgray;
}


.alert-dogs {
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: scroll;
    
}

.alert-cats {
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: scroll;
}

.alert-box {
    padding: 10px;
    text-align: center;
}

.animal-list {
    text-align: center;
    font-size: 20px;
    text-shadow: 2px 2px 2px white;
}
