* {
    padding: 0px;
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

.attn-alert {
    text-align: center;
    background-color: red;
    border: 1px solid black;
    border-radius: 5px;
}

.reg {
    margin-top: 500px;
}

.center {
    text-align: center;
}

.navbar-default {
    background-color: hotpink;
    color: black;
    font-size: 20px;
}
.new-animal-form {
    margin-top: 10%;
}

.form-control {
    margin-top: 5px;
    margin-bottom: 5px;
}

.center {
    text-align: center;
}

.form-advance-button {
    text-align: center;
    width: 200px;
}

#vaccinations {
    margin-top: 1000px;
}

.rabies-form {
    background-color: red;
    color: white;
    height: 40px;
    font-size: 15px;
}

.purple-form {
    background-color: purple;
    color: white;
    height: 40px;
    font-size: 15px;
}

.orange-form {
    background-color: orange;
    color: white;
    height: 40px;
    font-size: 15px;
}

.blue-form {
    background-color: blue;
    color: white;
    height: 40px;
    font-size: 15px;
}

.pink-form {
    background-color: hotpink;
    color: white;
    height: 40px;
    font-size: 15px;
}

.heartworm-prev-form {
    background-color: rgb(125, 148, 170);
    color: white;
    height: 40px;
    font-size: 15px;
}

.flea-prev-form {
    background-color: rgb(247, 128, 114);
    color: white;
    height: 40px;
    font-size: 15px;
}

.heartworm-test-form {
    background-color: rgb(37, 228, 37);
    color: white;
    height: 40px;
    font-size: 15px;
}

.fecal-test-form {
    background-color: rgb(167, 119, 56);
    color: white;
    height: 40px;
    font-size: 15px;
}

.dewormer-test-form {
    background-color: rgb(63, 113, 248);
    color: white;
    height: 40px;
    font-size: 15px;
}

.new-vac-button {
    width: 100px;
    background-color: greenyellow;
    height: 30px;
    border-radius: 5px;
    float: right;
}

.add-vac-button {
    width: 100px;
    margin-top: 10px;
    background-color: lime;
    height: 30px;
    border-radius: 5px;
    float: right;
}

.new-prev-button {
    width: 100px;
    background-color: rgb(125, 148, 170);
    color: white;
    height: 30px;
    border-radius: 5px;
    float: right;
}

.add-prev-button {
    width: 100px;
    margin-top: 10px;
    background-color: lime; 
    height: 30px;
    border-radius: 5px;
    float: right;
}

.new-test-button {
    width: 100px;
    background-color: rgb(37, 228, 37);
    color: white;
    height: 30px;
    border-radius: 5px;
    float: right;
}

.add-test-button {
    width: 100px;
    margin-top: 10px;
    background-color: lime; 
    height: 30px;
    border-radius: 5px;
    float: right;
}

.header {
    text-align: center;
    border-radius: 5px;
    background-color: hotpink;
}

.title {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
    background-color: black;
    color: white;
    opacity: .9;
    border-radius: 5px;
}

.subtitle {
    font-size: 22px;
    text-align: center;
    background-color: gray;
    color: black;
    border-radius: 5px;

}


/* CAT ONLY BELOW */

.fvrcp-form {
    background-color: rgb(194, 9, 250);
    color: white;
    height: 40px;
    font-size: 15px;
}

.revolution-prev-form {
    background-color: rgb(125, 148, 170);
    color: white;
    height: 40px;
    font-size: 15px;
}

.fivfelv-test-form {
    background-color: rgb(84, 66, 243);
    color: white;
    height: 40px;
    font-size: 15px;
}

input:required:invalid, input:focus:invalid {
    border: 1px solid red;
  }

input:required:valid, input:focus:valid {
    border: 1px solid green;
    background-color: lightgray;
}


.alert-dogs {
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: scroll;
}

.alert-cats {
    height: 300px;
    border: 2px solid black;
    border-radius: 5px;
    overflow: scroll;
}