
    {% include 'partials/head.html' %}

<body>
    <div class="container-fluid">
        {% include 'partials/nav_bar.html' %}
        <div class="row">
            <div class="col-sm-4">
                {% include 'partials/need_attention.html' %}
            </div>

            <div class="col-sm-4">
                {% include 'partials/current_dog.html'%}
            </div>

            <div class="col-sm-4">
                {% include 'partials/our_dogs.html' %}
                {% include 'partials/our_cats.html' %}                 
            </div>
        </div>
    </div>
</body>
