<div class="col-md-6">
    <div class="alert-dogs col-md-8 col-md-offset-2 alert-box">
        <p class="title">Dog Alert!</p>
        {% for dog in dog_alert %}
        <ul>
            
            <li><h3><a href="/select_dashboard/{{ dog.id }}">{{ dog.name }}</a></h3></li>
        </ul>
        {% endfor %}
    </div>
    
    <div class="alert-cats col-md-8 col-md-offset-2 alert-box">
        <p class="title">Cat Alert!</p>
        {% for cat in cat_alert %}
        <ul>
            <li><h3><a href="/select_dashboard_cat/{{ cat.id }}">{{ cat.name }}</a></h3></li>
        </ul>
        {% endfor %}
    </div>
</div>