{% include 'partials/head.html' %}

<body>
   <div class="container-fluid">

    {% include 'partials/nav_bar.html' %}

    <div class="col-md-4 col-md-offset-4 col-xs-12 new-animal-form">
            <h1 class="title">New Cat</h1>

            <form class="form-horizontal" action="/rescue_cat" method="post" id="new_cat_form">
            {% csrf_token %}
            
                <div class="form-group">
                    <label for="name" class="sr-only">Cat's Name</label>
                    <input type="text" class="form-control" name="name" id="new_rescue_name" placeholder="Cat's Name" style="text-align: center" required autofocus>

                    <label for="rescue_date" class="sr-only">RESCUE DATE!</label>
                    <input type="text" name="rescue_date" id="rescue_date" class="form-control" placeholder="RESCUE DATE!" onfocus="(this.type='date')" onblur="(this.type='text')"required>
                </div>

                <div class="form-group">
                    <label for="birthdate" class="sr-only">Birthdate</label>
                    <input 
                    type="text" 
                    name="birthdate"
                    id="birthdate"
                    class="form-control" 
                    placeholder="Birthdate"
                    onfocus="(this.type='date')" onblur="(this.type='text')"
                    required>
							
					<label for="description" class="sr-only">Description</label>
                    <input 
                    type="text" 
                    class="form-control" 
                    name="description" 
                    id="description" 
                    placeholder="Breed/Description"
                    minlength="3"
                    required>
				
					<label for="weight" class="sr-only">Weight in pounds</label>
                    <input 
                    type="number" 
                    class="form-control" 
                    name="weight" 
                    id="weight" 
                    placeholder="Weight"
                    required>

                </div>

                <div class="fun-box">
                        <div class="form-group" style="text-align: center;">
                            <div class="col-md-6 col-xs-12">
                                <label class="radio-inline"><input type="radio"name="gender" id="male" value="male" checked="checked">Male</label>
                            </div>
                            <div class="col-md-6 col-xs-12">
                                <label class="radio-inline"><input type="radio" name="gender" id="female" value="female">Female</label>
                            </div>
                        </div>
                    </div>
    
                    <div class="fun-box">
                        <div class="form-group" style="text-align: center;">						
                            <label for="fixed" class="checkbox-inline">
                            <input type="checkbox" name="fixed" id="fixed">Fixed</label>
                        
                            <label for="microchip" class="checkbox-inline">
                            <input type="checkbox" name="microchip" id="microchip">Microchipped</label>
                        </div>
                    </div>
            
                    <div class="form-group hidden" id="microchip-number">
                        <label for="microchip-number" class="sr-only">Microchip Number</label>
                        <input type="text" name="microchip_number" class="form-control" placeholder="Microchip Number">
                    </div>

                <div class="center">
                    <a href="#vaccinations"><button class="btn btn-success form-advance-button" id="show_vacs">Vaccinations</button></a>
                </div>


                <!-- ************************    VACCINATIONS -->

                
                <div class="form-group" id="vaccinations">
                    <h1>Vaccinations</h1>

                    <div class="form-group rabies">
                        <h4 class="center">RABIES</h4>
                        <div class="form-control rabies-form" id="rabiesVacFalse">
                            <input type="radio" id="rabiesVacFalseRadio" name="rabiesVac" value="False" checked="checked">
                            <label for="rabiesVac"> Needs Rabies Vaccine</label>
                            <input style="float: right; color: black;" type="date" name="rabies_due" value={% now 'Y-m-d' %} placeholder="Rabies due date" onfocus="(this.type='date')" onblur="(this.type='text')">
                        </div>
                    
                        <div class="form-control" id="rabiesVacTrue">
                            <input type="radio" id="rabiesVacFalseRadio" name="rabiesVac" value="True">
                            <label for="rabiesVac"> Rabies vaccine given on</label>
                            <input style="float: right; color: black;" type="date" name="rabies_given" value={% now 'Y-m-d' %} placeholder="Rabies due date" onfocus="(this.type='date')" onblur="(this.type='text')">
                        </div>
                    
                        <div class="form-control hidden rabies-form center" id="rabies_number">
                            <input type="number" name="rabies_number" style="color: black;">
                            <label class="control-label" for="rabies_number">Rabies Number</label>
                        </div>
                    </div>
                
                    <div class="form-group fvrcp">
                        <h4 class="center">FVRCP</h4>
                        <div class="form-control fvrcp-form" id="fvrcpVacFalse">
                            <input type="radio" name="fvrcpVac" value="False" checked="checked">
                            <label class="control-label">Needs FVRCP vaccine</label>
                            <input type="date" style="float: right; color: black;" name="fvrcp_due" value={% now 'Y-m-d' %}>
                        </div>

                        <div class="form-control" id="fvrcpVacTrue">
                            <input type="radio" name="fvrcpVac" value="True">
                            <label type="date" class="control-label"> FVRCP vaccine given on </label>
                            <input type="date" style="float: right; color: black" name="fvrcp_given" value= {% now 'Y-m-d' %} placeholder="FVRCP due date" onfocus="(this.type='date')" onblur="(this.type='text')">
                        </div>
                    </div>
                
                    <div class="center">
                        <a href="#preventions"><button class="btn btn-success form-advance-button" id="show_prevs">Preventions & Tests</button></a>
                    </div>
                    
                </div>

                

                <!-- *******************  PREVENTIONS -->
                
                <div class="form-group" id="preventions">
                    <h1>Preventions</h1>
                    <h4 class="center">Flea/Tick Prevention</h4>
                    <div class="form-control flea-prev-form" id="fleaPrevFalse">
                        <input type="radio" name="fleaPrev" value="False" checked="checked">
                        <label class="control-label" for="fleaPrevFalse">Needs Flea/Tick</label>
                        <input type="date" style="float: right; color: black;" name="fleaPrevDue" value={% now 'Y-m-d' %}>
                    </div>
                    <div class="form-control" id="fleaPrevTrue">
                        <input type="radio" name="fleaPrev" value="True">
                        <label class="control-label" for="fleaPrev">Flea/Tick Given on </label>
                        <input type="date" style="float: right; color: black" name="fleaPrevGiven" value= {% now 'Y-m-d' %}>
                    </div>
                </div>

                <div class="form-group">
                    <h4 class="center">Revolution Prevention</h4>
                    <div class="form-control revolution-prev-form" id="revolutionPrevFalse">
                        <input type="radio" name="revolutionPrev" value="False" checked="checked">
                        <label class="control-label" for="revolutionPrevFalse">Needs Revolution prev</label>
                        <input type="date" style="float: right; color: black;" name="revolutionPrevDue" value={% now 'Y-m-d' %}>
                    </div>
                    <div class="form-control" id="revolutionPrevTrue">
                        <input type="radio" name="revolutionPrev" value="True">
                        <label class="control-label" for="revolutionPrevGiven">Revolution prev given</label>
                        <input type="date" style="float: right; color: black" name="revolutionPrevGiven" value={% now 'Y-m-d' %}>
                    </div>
                </div>

                    <div class="form-group">
                        <h1>Tests</h1>
                        <h4 class="center">Fiv-Felv Test</h4>
                        <div class="form-control fivfelv-test-form" id="fivfelvTestFalse">
                            <input type="radio" name="fivfelvTest" value="False" checked="checked">
                            <label class="control-label" for="fivfelvTestFalse">Needs Fiv-Felv Test</label>
                            <input type="date" style="float: right; color: black;" name="fivfelvTestDue" value={% now 'Y-m-d' %}>
                        </div>
                        <div class="form-control" id="fivfelvTestTrue">
                            <input type="radio" name="fivfelvTest" value="True">
                            <label class="control-label" for="fivfelvTestGiven">Fiv-Felv Test Given</label>
                            <input type="date" style="float: right; color: black" name="fivfelvTestGiven" value={% now 'Y-m-d' %}>
                        </div>
                    </div>

                    <div class="form-group">
                        <h4 class="center">Fecal</h4>
                        <div class="form-control fecal-test-form" id="fecalTestFalse">
                            <input type="radio" name="fecalTest" value="False" checked="checked">
                            <label class="control-label" for="fecalTestFalse">Needs Fecal</label>
                            <input type="date" style="float: right; color: black;" name="fecalTestDue" value={% now 'Y-m-d' %}>
                        </div>
                        <div class="form-control" id="fecalTestTrue">
                            <input type="radio" name="fecalTest" value="True">
                            <label class="control-label" for="fecalTest">Fecal Done On </label>
                            <input type="date" style="float: right; color: black" name="fecalTestGiven" value= {% now 'Y-m-d' %}>
                        </div>
                    </div>

			    </div>
			    <br>
			    <div class="col-xs-12 center button-bottom">
				    <button type="submit" class="btn btn-success form-advance-button">Rescue <span id="current_rescue_name"> !</span></button>
			    </div>
            </div>
        </form>
    </div>
</body>
</html>