<!DOCTYPE html>
<html lang="en">
<head>
    <meta name='viewport' content="width=device-width initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'resQmia_app/css/styles.css' %}" media="screen" title="resQmia" charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    
    
    <script src='https://code.jquery.com/jquery-3.2.1.min.js'  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script src="{% static 'resQmia_app/resQmia.js' %}"></script>
</head>
<body>
    <div class="container-fluid">

        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">resQmia</a>
                </div>
                <ul class="nav navbar-nav">
                    <li><a href="/our_dogs">Our Dogs</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">NEW
                        <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/new_dog">New Dog</a></li>
                            <li><a href="#">New Cat</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left" action="#">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="navbar-text"><span id="date"></span></li>
                    <li class="navbar-text"><span id="time"></span></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
                
            </div>
        </nav>



        <div class="row">
            
            <div class="col-md-4 col-md-offset-2">
                <ul>
                    <h1>Our Dogs</h1>   
                
                    {% for dog in avail_dogs %}
                    <li><a href="/select_our_dogs/{{ dog.id }}">{{ dog.name }}</a>
                        <a href="/delete/{{ dog.id }}">DELETE</a></li>
                    {% endfor %}
                </ul>
            </div>

            <div class="col-md-4">
                {% for dog in current_dog %}
                <ul>
                    <h1>{{ dog.name }}</h1>
                    <li {% if dog.fixed == False %} style="background-color: red">NOT FIXED!!</li {% endif %}>
                    <li{% if dog.microchip_number != "0" %}>Microchip Number: {{ dog.microchip_number }} {% endif %}</li>
                    <li {% if dog.microchip_number == "0" %} style="background-color: red">NEEDS MICROCHIP!</li {% endif %}>
                    <li>Birthdate: {{ dog.birthdate }}</li>
                    <li>{{ dog.description }}, {{ dog.weight }}lbs.</li>
                    
                {% endfor %}
                
                    <hr>
                    {% for rabies in current_rabies %}
                    <li>Rabies due: {{ rabies.vaccine_due }} </li>
                    {% endfor %}

                    {% for da2pp in current_da2pp %}
                    <li>DA2PP due: {{ da2pp.vaccine_due }}</li>
                    {% endfor %}
                    
                    {% for lepto in current_lepto %}
                    <li>Lepto due: {{ lepto.vaccine_due }}</li>
                    {% endfor %}

                    {% for bord in current_bord %}
                    <li>Bord due: {{ bord.vaccine_due }}</li>
                    {% endfor %}

                    {% for civ in current_civ %}
                    <li>CIV due: {{ civ.vaccine_due }}</li>
                    <hr>
                    {% endfor %}
                
                    {% for heartPrev in current_heartworm_prev %}
                    <li>{{ heartPrev.prevention_name }} prevention due: {{ heartPrev.prevention_due }}</li>
                    {% endfor %}

                    {% for flea in current_flea_tick %}
                    <li>{{ flea.prevention_name }} prevention due: {{ flea.prevention_due }}</li>
                    <hr>
                    {% endfor %}

                    {% for heartTest in current_heartworm_test %}
                    <li>{{ heartTest.test_name }} test due: {{ heartTest.test_due }}</li>
                    {% endfor %}

                    {% for fecal in current_fecal %}
                    <li>{{ fecal.test_name }} test due: {{ fecal.test_due }}</li>
                    {% endfor %}

                    {% for worm in current_dewormer %}
                    <li>{{ worm.test_name }} due: {{ worm.test_due }}</li>
                    {% endfor %}
                </ul>


                
            </div>

        </div>
    </div>
</body>