{% include 'resQmia_app/head.html' %}

<body>
    <div class="container-fluid">

        {% include 'resQmia_app/nav_bar.html' %}
    
        <div class="row">
            
            <div class="col-md-4 col-md-offset-2">
                <ul>
                    <h1>Our Dogs</h1>   
                
                    {% for dog in avail_dogs %}
                    <li><a href="/select_our_dogs/{{ dog.id }}">{{ dog.name }}</a>
                        <a href="/delete_dog/{{ dog.id }}">DELETE</a></li>
                    {% endfor %}
                </ul>
            </div>

           
            {% include 'resQmia_app/current_dog.html' %}

        </div>
    </div>
</body>