<nav class="navbar navbar-inverse navbar-collapse" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-text brand-nav" href="/">resQmia</a>
        </div>
        
        <ul class="nav nav-tabs nav-justified">
            <li><a href="/new_dog"><span class="glyphicon glyphicon-star"></span>New Dog</a></li>
            <li><a href="/new_cat"><span class="glyphicon glyphicon-star-empty"></span>New Cat</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
        </ul>
    </div>    
</nav>


