<div class="title">
    <button class="btn-white" data-toggle="tooltip" title="Click this to see all of our dogs" data-placement="bottom" id="show_all_dogs">All <strong>DOGS</strong></button>
    <button class="btn-gray"id="show_all_alerts">All Alerts</button>
    <button class="btn-white" id="show_vaccines">Vaccines</button>
    <button class="btn-white" data-toggle="tooltip" title="Click here to see all dogs that have preventions due by today" data-placement="top" id="show_preventions">Preventions</button>
    <button class="btn-white" data-toggle="tooltip" title="Click here to see all dogs that have tests due by today" data-placement="top" id="show_tests">Tests</button>
</div>