<p class="page-header">These dogs need something!</p>
<div class="list-box">
    {% for dog in dog_alert %}
    <div class="col-sm-4">
        <ul>
            <li class="animal-list"><a href="/select_dashboard/{{ dog.id }}"> {{ dog.name }} <br><img src="{{ dog.thumb.url }}" class="img-responsive img-rounded"/></a></li>
        </ul>
    </div>
        {% endfor %}
</div>



<p class="page-header">These cats need something!</p>
<div class="list-box">
    {% for cat in cat_alert %}
    <div class="col-sm-4">
        <ul>
            <li class="animal-list"><a href="/select_dashboard_cat/{{ cat.id }}"> {{ cat.name }} <br><img src="{{ cat.thumb.url }}" class="img-responsive img-rounded"/></a></li>
        </ul>
    </div>
    
    {% endfor %}
</div>