<h3 class="title center">Add a new dog</h3>
<div class="list-box2">
    <form class="form-vertical" action="/rescue_dog" method="post" id="new_dog_form" enctype="multipart/form-data">
    {% csrf_token %}

    <div class="form-group gender center">
            
        <div class="col-xs-6">
            <label class="radio-inline"><input type="radio" name="gender" id="male" value="male">Male</label>
        </div>
        <div class="col-xs-6">
            <label class="radio-inline"><input type="radio" name="gender" id="female" value="female" checked="checked">Female</label>
        </div>
    </div>
    
    <div class="form-group">
        <label for="name" class="sr-only">Dog's Name</label>
        <input type="text" class="form-control" name="name" id="new_rescue_name" placeholder="Dog's Name" required autofocus>
    </div>

    <div class="form-group center">
        <label for="birthdate" class="sr-only">Born </label>
        <input type="text" name="birthdate" id="birthdate" class="form-control" placeholder="Birthdate" onfocus="(this.type='date')" onblur="(this.type='text')" required>
    </div>
    
    <div class="form-group">
        <label for="description" class="sr-only">Description</label>
        <input type="text" class="form-control" name="description" id="description" placeholder="Breed/Description" minlength="3" required>
    </div>
    
    <div class="form-group">
        <label for="weight" class="sr-only">Weight in pounds</label>
        <input type="number" class="form-control" name="weight" id="weight" placeholder="Weight" required>
    </div>

    <hr>
    
    <div class="form-group center">
        <label for="rescue_date" class="sr-only">RESCUE DATE!</label>
        <input type="text" name="rescue_date" id="rescue_date" class="form-control" placeholder="RESCUE DATE!" onfocus="(this.type='date')" onblur="(this.type='text')"required>
    </div>

    <div class="form-group center">
        <label for="source" class="sr-only">Select source </label>
        <select name="source" id="source" class="form-control" required>
            <option value="" selected>--Select Source--</option>
            <option value="crisp">CRISP</option>
            <option value="cacc">CACC</option>
            <option value="awl">AWL</option>
            <option value="stray">Stray</option>
            <option value="crisp">Alive!</option>
            <option value="other">Other</option>
        </select>
    </div>

    <div class="form-group center">
        <label for="source_note" class="sr-only">Source Note</label>
        <textarea name="source_note" class="form-control" rows="3" placeholder="Source notes:" required></textarea>
    </div>

    <div class="form-group">
        <div class="col-xs-6 center">
            <label for="fixed" class="checkbox-inline">
            <input type="checkbox" name="fixed" id="fixed">Is animal fixed?</label>
        </div>
        
        <div class="col-xs-6 center">
            <label for="microchip" class="checkbox-inline">
            <input type="checkbox" name="microchip" id="microchip">Microchipped</label>
        </div>
    </div>

    <div class="form-group hidden" id="microchip-number">
        <label for="microchip-number" class="sr-only">Microchip Number</label>
        <input type="text" name="microchip_number" class="form-control" placeholder="Microchip Number">
    </div>
    <br>
    <div class="form-group picture-upload-box col-xs-8">
        <label for="thumb" class="control-label upload-margin1"><span><strong>ADD A PICTURE </strong><span class="glyphicon glyphicon-arrow-down"></span></span></label>
        <br>
        <div class="upload-button">
            <input class="upload-margin2" id="thumb_dog" type="file" name="thumb" placeholder="Add a Pic!">
        </div>
    </div>
    <br>
    <div class="col-xs-12 center">
        <button type="submit" class="btn btn-success form-advance-button">Rescue <span id="current_rescue_name"> !</span></button>
    </div>
</div>
</form>
