<p class="page-header">NEW CAT!</p>
<div class="list-box2">
    <form class="form-vertical" action="/rescue_cat" method="post" id="new_cat_form">
        {% csrf_token %}
        
        

        <div class="form-group gender center">
            <div class="col-xs-6">
                <label class="radio-inline"><input type="radio" name="gender" id="male" value="male">Male</label>
            </div>
            <div class="col-xs-6">
                <label class="radio-inline"><input type="radio" name="gender" id="female" value="female" checked="checked">Female</label>
            </div>
        </div>
        
        <div class="form-group">
            <label for="name" class="sr-only">Cat's Name</label>
            <input type="text" class="form-control" name="name" id="new_rescue_name" placeholder="Cat's Name" required autofocus>
        </div>

        <div class="form-group center">
            <label for="rescue_date" class="sr-only">RESCUE DATE!</label>
            <input type="text" name="rescue_date" id="rescue_date" class="form-control" placeholder="RESCUE DATE!" onfocus="(this.type='date')" onblur="(this.type='text')"required>
        </div>

        <div class="form-group center">
            <label for="birthdate" class="sr-only">Birthdate</label>
            <input type="text" name="birthdate" id="birthdate" class="form-control" placeholder="Birthdate" onfocus="(this.type='date')" onblur="(this.type='text')" required>
        </div>
        
        <div class="form-group">
            <label for="description" class="sr-only">Description</label>
            <input type="text" class="form-control" name="description" id="description" placeholder="Breed/Description" minlength="3"required>
        </div>
        
        <div class="form-group">
            <label for="weight" class="sr-only">Weight in pounds</label>
            <input type="number" class="form-control" name="weight" id="weight" placeholder="Weight" required>
        </div>

        <div class="form-group">
            <div class="col-xs-6 center">
                <label for="fixed" class="checkbox-inline">
                <input type="checkbox" name="fixed" id="fixed">Is animal fixed?</label>
            </div>
            
            <div class="col-xs-6 center">
                <label for="microchip" class="checkbox-inline">
                <input type="checkbox" name="microchip" id="microchip">Microchipped</label>
            </div>
        </div>
    
        <div class="form-group hidden" id="microchip-number">
            <label for="microchip-number" class="sr-only">Microchip Number</label>
            <input type="text" name="microchip_number" class="form-control" placeholder="Microchip Number">
        </div>
        <br>
        <div class="form-group picture-upload-box col-xs-8">
            <label for="thumb" class="control-label upload-margin1"><span><strong>ADD A PICTURE </strong><span class="glyphicon glyphicon-arrow-down"></span></span></label>
            <br>
            <div class="upload-button">
                <input class="upload-margin2" id="thumb_dog" type="file" name="thumb" placeholder="Add a Pic!">
            </div>
        </div>

        <!-- *******************  VACCINATIONS -->
        <h1 class="page-header">Vaccinations</h1>

        <div class="form-group rabies">
            <h4 class="center">RABIES</h4>
            <div class="form-control rabies-form" id="rabiesVacFalse">
                <div class="col-xs-6">
                    <input type="radio" id="rabiesVacFalseRadio" name="rabiesVac" value="False"     checked="checked">
                    <label for="rabiesVac">NEEDS by</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="rabies_due" value={% now 'Y-m-d' %} placeholder="Rabies due date" onfocus="(this.type='date')" onblur="(this.type='text')" data-toggle="tooltip" page-header="This is the EARLIEST date the animal can recieve its next rabies vaccine.  The default is today.">
                </div>
            </div>
    
            <div class="form-control" id="rabiesVacTrue">
                <div class="col-xs-6">
                    <input type="radio" id="rabiesVacFalseRadio" name="rabiesVac" value="True">
                    <label for="rabiesVac">GIVEN on</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="rabies_given" value={% now 'Y-m-d' %}>
                </div>
            </div>
    
            <div class="form-control hidden rabies-form center" id="rabies_number">
                <input type="number" class="form-control" name="rabies_number">
                <label class="control-label" for="rabies_number">Rabies Number</label>
            </div>
        </div>
        <br>
        
        <div class="form-group fvrcp">
            <h4 class="center">FVRCP</h4>
            <div class="form-control fvrcp-form" id="fvrcpVacFalse">
                <div class="col-xs-6">
                    <input type="radio" name="fvrcpVac" value="False" checked="checked">
                    <label class="control-label">NEEDS by</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="fvrcp_due" value={% now 'Y-m-d' %}>
                </div>
            </div>

            <div class="form-control" id="fvrcpVacTrue">
                <div class="col-xs-6">
                    <input type="radio" name="fvrcpVac" value="True">
                    <label class="control-label">GIVEN on</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="fvrcp_given" value= {% now 'Y-m-d' %}>
                </div>
            </div>
        </div>

        <!-- *******************  PREVENTIONS -->
        <h1 class="page-header">Preventions</h1>

        <div class="form-group" id="preventions">
            <h4 class="center">Flea/Tick</h4>

            <div class="form-control flea-prev-form" id="fleaPrevFalse">
                <div class="col-xs-6">
                    <input type="radio" name="fleaPrev" value="False" checked="checked">
                    <label class="control-label" for="fleaPrevFalse">NEEDS by</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="fleaPrevDue" value={% now 'Y-m-d' %}>
                </div>
            </div>

            <div class="form-control" id="fleaPrevTrue">
                <div class="col-xs-6">
                    <input type="radio" name="fleaPrev" value="True">
                    <label class="control-label" for="fleaPrev">GIVEN on</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="fleaPrevGiven" value= {% now 'Y-m-d' %}>
                </div>
            </div>

            <div class="form-group">
                <h4 class="center">Revolution</h4>

                <div class="form-control revolution-prev-form" id="revolutionPrevFalse">
                    <div class="col-xs-6">
                        <input type="radio" name="revolutionPrev" value="False" checked="checked">
                        <label class="control-label" for="revolutionPrevFalse">NEEDS by</label>
                    </div>
                    <div class="col-xs-6">
                        <input type="date" name="revolutionPrevDue" value={% now 'Y-m-d' %}>
                    </div>
                </div>

                <div class="form-control" id="revolutionPrevTrue">
                    <div class="col-xs-6">
                        <input type="radio" name="revolutionPrev" value="True">
                        <label class="control-label" for="revolutionPrevGiven">GIVEN on</label>
                    </div>
                    <div class="col-xs-6">
                        <input type="date" name="revolutionPrevGiven" value={% now 'Y-m-d' %}>
                    </div>
                </div>
            </div>
        </div>
        
        
        <!-- *******************  TESTS -->
        <h1 class="page-header">Tests</h1>
            
        <div class="form-group">
            <h4 class="center">Fiv/Felv</h4>
            <div class="form-control fivfelv-test-form" id="fivfelvTestFalse">
                <div class="col-xs-6">
                    <input type="radio" name="fivfelvTest" value="False" checked="checked">
                    <label class="control-label" for="fivfelvTestFalse">NEEDS by</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="fivfelvTestDue" value={% now 'Y-m-d' %}>
                </div>
            </div>
            <div class="form-control" id="fivfelvTestTrue">
                <div class="col-xs-6">
                    <input type="radio" name="fivfelvTest" value="True">
                    <label class="control-label" for="fivfelvTestGiven">GIVEN on</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="fivfelvTestGiven" value={% now 'Y-m-d' %}>
                </div>
            </div>
        </div>

        <div class="form-group">
            <h4 class="center">Fecal</h4>
            <div class="form-control fecal-test-form" id="fecalTestFalse">
                <div class="col-xs-6">
                    <input type="radio" name="fecalTest" value="False" checked="checked">
                    <label class="control-label" for="fecalTestFalse">NEEDS by</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="fecalTestDue" value={% now 'Y-m-d' %}>
                </div>
            </div>

            <div class="form-control" id="fecalTestTrue">
                <div class="col-xs-6">
                    <input type="radio" name="fecalTest" value="True">
                    <label class="control-label" for="fecalTest">DONE on</label>
                </div>
                <div class="col-xs-6">
                    <input type="date" name="fecalTestGiven" value= {% now 'Y-m-d' %}>
                </div>
            </div>
        </div>
        <br>
        <div class="col-xs-12">
            <button type="submit" class="btn btn-success form-advance-button">Rescue <span id="current_rescue_name"> !</span></button>
        </div>    
    </form>
</div>